<div class="footerWrap">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <h5>Быстрые ссылки</h5>
                <ul class="quicklinks">
                    <li><a href="@Url.Action("AboutUs", "AboutUs")">О нас</a></li>
                    <li><a href="@Url.Action("ContactUs", "AboutUs")">Контакты</a></li>
                    <li><a href="@Url.Action("AddPost", "Post")">Написать обзор</a></li>
                    <li><a href="@Url.Action("FAQs", "AboutUs")">FAQ</a></li>
                </ul>
            </div>
        </div>
        <div class="social"> <a href="#." target="_blank"> <i class="fa fa-facebook-square" aria-hidden="true"></i></a> 
        <a href="#." target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a> 
        <a href="#." target="_blank"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a> 
        <a href="#." target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a> 
        <a href="#." target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> </div>
    </div>
</div>
<div class="copyright">
    <div class="container">
        <div class="bttxt"><a>Copyright &copy; 2024 TI-227 Group, FCIM. Все права защищены. </a></div>
    </div>
</div>