@{
     Layout = "~/Views/Shared/_Layout.cshtml";
     ViewBag.Title = "ForgotPassword";
}
<div class="pageTitle">
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-sm-6">
                    <h1 class="page-heading">Восстановление пароля</h1>
               </div>
          </div>
     </div>
</div>
<div class="listpgWraper">
     <div class="container">
          <div class="row">
               <div class="col-md-6 col-md-offset-3">
                    <div class="userccount">
                         <h5>Забыли пароль?</h5>
                         <p>Для восстановления пароля вам необходимо ввести свою электронную почту и следовать всем дальнейшим инструкциям.</p>
                         <div class="formpanel">
                              <div class="formrow">
                                   <input type="text" class="form-control" placeholder="Введите электронную почту">
                              </div>
                              <input type="submit" class="btn" value="Подтвердить">
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
</body>
</html>