@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "AboutUs";
}
<div class="pageTitle">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h1 class="page-heading">О нас</h1>
            </div>
        </div>
    </div>
</div>
<div class="about-wraper">
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col-md-7">
                    <h2>Основатели нового гастрономического мира...</h2>
                    <p>
                        <br>Идея основания своего ресторана молекулярной кухни возникла у нас во времена, когда в Молдове не было и пары рестораннов данного типа.<br/>
                        <br>Мы подумали: "А что если мы станем теми, кто сможет перевернуть представления о вкусовых качествах еды наших сограждан?"<br/>
                        <br >С тех пор утекло много воды, но наша цель не изменилась и изо дня в день мы работаем над совершенствованием техник приготовления, экспериментируя с саммыми смелыми вкусовыми сочетаниями!<b/>
                    </p>
                </div>
                <div class="col-md-5">
                </div>
            </div>
        </div>
    </div>
    <div class="section whitebg howitwrap">
        <div class="container">
            <ul class="howlist row">
                <li class="col-md-4 col-sm-4">
                    <h4>Путешествуйте вместе с нами</h4>
                    <p>С нашими блюдами вы будто перенесётесь в другое измерение. Всегда мечтали попробовать что-то отличное от мяса и рыбы? Наш ресторан будет лучшим выбором! </p>
                </li>
                <li class="col-md-4 col-sm-4">
                    <h4>Рассказывайте о нас друзьям</h4>
                    <p>Вы получите по одному блюду на ваш выбор за каждых трёх приведённых друзей, поужинавших у нас! Назначайте у нас свидания, светские вечера или же банкеты, наши блюда подойдут по любому случаю!</p>
                </li>
                <li class="col-md-4 col-sm-4">
                    <h4>Поучаствуйте в магии</h4>
                    <p>Если же вы искушённый эстет, то к вашим услугам наши шеф-повара со своим мастер-классом, которые могут вместе с вами приготовить блюда самых разных видов.</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="titleTop">
                <h3>ОТЗЫВЫ <span>НАШИХ КЛИЕНТОВ</span></h3>
                <p>Мы рады, что вы рады!</p>
            </div>
            <ul class="testimonialsList">
                <li>
                    <div class="guest">
                        <div class="testimg"><img src="@Url.Content("~/Content/images/coment-avatar-2.jpg")" alt=""></div>
                        <div class="clientname">Моя мама</div>
                        <div class="clientinfo">Самый честный критик</div>
                        <p>"Это было настоящее гастрономическое приключение! Каждый курс был как произведение искусства. Никогда не думала, что еда может быть такой увлекательной и вкусной одновременно!"</p>
                    </div>
                </li>
                <li>
                    <div class="guest">
                        <div class="testimg"><img src="@Url.Content("~/Content/images/coment-avatar-2.jpg")" alt=""></div>
                        <div class="clientname">Анна С.</div>
                        <div class="clientinfo">Местная журналистка</div>
                        <p>"Ресторан молекулярной кухни превзошел все мои ожидания. Каждое блюдо удивляло и радовало необычными вкусами и текстурами. Определенно вернусь еще раз!"</p>
                    </div>
                </li>
                <li>
                    <div class="guest">
                        <div class="testimg"><img src="@Url.Content("~/Content/images/coment-avatar-2.jpg")" alt=""></div>
                        <div class="clientname">Мария К.</div>
                        <div class="clientinfo">Гурман</div>
                        <p>"Невероятный опыт! Шеф-повар настоящий мастер, превращающий еду в магию. Атмосфера ресторана и обслуживание тоже на высоте."</p>
                    </div>
                </li>
                <li>
                    <div class="guest">
                        <div class="testimg"><img src="@Url.Content("~/Content/images/coment-avatar-2.jpg")" alt=""></div>
                        <div class="clientname">Олег Р.</div>
                        <div class="clientinfo">Музыкант</div>
                        <p>"Никогда бы не подумал, что произведением искусства может быть еда!"</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>