@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FAQs";
}
<div class="listpgWraper">
    <div class="container">
        <div class="faqs">
            <div class="panel-group" id="accordion">
                <h3>FAQ</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse1">Где мы находимся?</a> </h4>
                    </div>
                    <div id="collapse1" class="panel-collapse collapse">
                        <div class="panel-body">
                            На странице контактов находится наш адрес и гео-метка.<br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse2"> Как зарегистрироваться?</a> </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">
                          В верхнем меню справа находится кнопка регистрации. Вам необходимо заполнить все обязательные поля и следовать дальнейшим инструкциям. <br>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse3">Как забронировать мероприятие?</a> </h4>
                    </div>
                    <div id="collapse3" class="panel-collapse collapse">
                        <div class="panel-body">
                            Свяжитесь с нами по номеру, указанному в верхнем левом углу страницы.
                        </div>
                    </div>
                </div>
                <h3>Данные о пользователях</h3>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" class="collapsed" href="#collapse4">Зачем вам мои данные?</a> </h4>
                    </div>
                    <div id="collapse4" class="panel-collapse collapse">
                        <div class="panel-body">
                            Ваши данные в полной безопасности, они хранятся и используются лишь в соответствии с законом. <br>      
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
